@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
  --main-color: #0aad0a;
  --bg-color: #000;
  --text-color: #e4e6eb;
  --muted-text: #b0b3b8;
  --shadow: rgba(0, 0, 0, 0.6) 0px 2px 10px;
  --font-family: "Inter", sans-serif;
  --rating-color: #ffc908;
}

/* ================= GLOBAL ================= */

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  font-family: var(--font-family) !important;
}

.container,
.container-fluid {
  background-color: transparent !important;
}

/* ================= TEXT ================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;

  color: var(--text-color) !important;
}
span {
  color: var(--text-color) !important;
}
p {
  color: var(--muted-text);
}

/* ================= LINKS ================= */

a,
a:hover {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--main-color);
}

/* ================= UTILITIES ================= */

.rating-color {
  color: var(--rating-color);
}

.cursor-pointer {
  cursor: pointer;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

/* ================= NAVBAR ================= */

.navbar .nav-link {
  color: var(--text-color) !important;
  position: relative;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--main-color);
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.navbar .nav-link:hover {
  color: var(--main-color) !important;
}

.navbar .nav-link:hover::after {
  width: 100%;
}
.navbar .btn.position-relative {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* badge spacing */
.navbar .badge {
  font-size: 10px;
  padding: 5px 6px;
}
.custom-badge {
  transform: translate(-30%, -30%) !important;
  font-size: 10px;
  padding: 4px 6px;
}
/* ================= PRODUCT ================= */

.product {
  color: var(--text-color);
  transition: 0.3s;
}
.product a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.product:hover {
  cursor: pointer;
}
.product .btn {
  transition: transform 0.5s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
  display: block;
  margin: 10px auto;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.product .btn:hover {
  background-color: #098009 !important;
}
.product-img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  background-color: #000000;
}
/* ================= SLICK SLIDER ================= */

.slick-slider {
  position: relative !important;
}

.slick-list {
  border-radius: 10px;
  overflow: hidden;
}

/* ================= ARROWS ================= */
/* 
.slick-prev,
.slick-next {
  width: 45px !important;
  height: 45px !important;
  z-index: 9999 !important;
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-prev {
  left: 15px !important;
}

.slick-next {
  right: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 22px !important;
  opacity: 1 !important;
}


/* hover effect */
.slick-prev:hover,
.slick-next:hover {
  background: rgba(10, 173, 10, 0.7) !important;
  color: white;
}
*/

/* ================= DOTS ================= */

.slick-dots {
  bottom: 12px !important;
  position: absolute !important;
  z-index: 9999 !important;
}

.slick-dots li button:before {
  color: white !important;
  opacity: 0.4;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white !important;
}

/* ================= SCROLLBAR ================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

/* ================= ProductDetailes ================= */

.productDet .btn:hover {
  background-color: #098009 !important;
}

/* ================= Forms ================= */

.form .btn:hover {
  background-color: #098009 !important;
}
.form {
  background: #0b0b0b;
  padding: 30px;
  border-radius: 16px;
  box-shadow: var(--shadow);
  border: 1px solid #1a1a1a;
}

/* Title */
.form h3 {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Labels */
.form label {
  font-size: 14px;
}

/* Inputs */
.form .form-control {
  background-color: #111;
  border: 1px solid #1f1f1f;
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
}

/* Focus effect (main color) */
.form .form-control:focus {
  background-color: #111;
  border-color: var(--main-color);
  box-shadow: 0 0 8px rgba(10, 173, 10, 0.3);
  color: var(--text-color);
}

/* Error alert */
.form .alert {
  background-color: rgba(0, 0, 0, 0.08);
  color: #968282;
  border: 1px solid rgba(255, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px;
  font-size: 13px;
}

/* Button */
.form .btn {
  background: var(--main-color) !important;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}
